body {
    margin: 0 auto;
    margin: 0;
    padding: 0;
}
#output  {
    margin: 0 auto;
    font-size: 20px;
    padding: 30px;
    background-color: bisque;
    text-align: center;
    max-width: 1300px;
}